<% include ./partials/header %>

<div class="container mt-3">
    <div class="info-container text-center pt-1 pb-1">
        <h1>Pagina non trovata :(</h1>
    </div>
</div>

<% include ./partials/footer %>