<% include ./partials/header %>

<script src="https://use.fontawesome.com/f5f684bb4a.js"></script>


<div class="container text-center">
    <!-- <div class="pop">
        <img src="https://www.googleapis.com/drive/v3/files/1okT-pGy2D6CyPzDqPdQjTLXJzfda_jrk?alt=media&key=AIzaSyCzJtUQTqW3tZTuLnq4b8EvfZlZqhaw5Hw"
            class="img-fluid pt-5" alt="Subito Splash Screen">
        
    </div> -->
    <div class="tilt">
        <div class="pop">
            <h1 class="img-fluid" id="splashText">dubito!</h1>
        </div>
    </div>
    <div class="pt-3">
        <a href="/nuovapartita" class="button button-blue btn" role="button">
            <i class="fa fa-gamepad"></i>
            <strong>Partita rapida</strong>
        </a>
    </div>
    <div class="pt-3">
        <a href="/creastanza" class="button button-orange btn" role="button">
            <i class="fa fa-plus"></i>
            Crea una stanza
        </a>
    </div>
    <div class="pt-3">
        <a href="/entrastanza" class="button button-yellow btn" role="button">
            <i class="fa fa-sign-in"></i>
            Entra in una stanza
        </a>
    </div>
</div>

<script src="/js/jquery.fittext.js"></script>
<script>
    $("#splashText").fitText(0.35);
</script>

<% include ./partials/footer %>