<% include ./partials/header %>


<div class="container text-center">
    <!-- <div class="pop">
        <img src="https://www.googleapis.com/drive/v3/files/1okT-pGy2D6CyPzDqPdQjTLXJzfda_jrk?alt=media&key=AIzaSyCzJtUQTqW3tZTuLnq4b8EvfZlZqhaw5Hw"
            class="img-fluid pt-5" alt="Subito Splash Screen">
        
    </div> -->
    <div class="tilt">
        <div class="pop">
            <h1 class="img-fluid" id="splashText">dubito!</h1>
        </div>
    </div>
    <div class="pt-3">
        <button id="nuovapartita" class="tasto-blu">
            <i class="fa fa-gamepad"></i>
            <strong>Partita rapida</strong>
        </button>
    </div>
    <div class="pt-3">
        <button id="creastanza" class="tasto-arancione">
            <i class="fa fa-plus"></i>
            Crea una stanza
        </button>
    </div>
    <div class="pt-3">
        <button id="entrastanza" class="tasto-giallo">
            <i class="fa fa-sign-in"></i>
            Entra in una stanza
        </button>
    </div>
</div>

<script src="/js/jquery.fittext.js"></script>
<script>
    $("#splashText").fitText(0.35);
    $("#nuovapartita").on("click", function(){window.location.href="/nuovapartita";});
    $("#creastanza").on("click", function(){window.location.href="/creastanza";});
    $("#entrastanza").on("click", function(){window.location.href="/entrastanza";});
</script>

<% include ./partials/footer %>