<% include ./partials/header %>

<div class="container text-center">
    <div class="row" style="height: 320px;">
        <div class="col-6">
            <img src="./imgs/bastoni/1.png" alt="Card 1" style="height: 50%" id="carta1">
        </div>
        <div class="col-6">
            <img src="./imgs/bastoni/2.png" alt="Card 2" style="height: 50%">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
                <a class="btn btn-primary btn-lg" href="/nuovapartita" role="button">Nuova partita</a>
        </div>
    </div>
</div>

<script src="/js/distribuzione.js"></script>

<% include ./partials/footer %>