<% include ./partials/header %>

<div class="container d-flex justify-content-center pt-5">
    <div class="info-container p-2">
        <div class="text-center" style="width: 300px;">
            <form method="POST" action="/nuovapartita">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input class="form-control form-control-lg" type="text" name="username" id="username"
                        placeholder="Inserisci nome utente">
                </div>
                <div class="form-group">
                    <label for="giocatori">Numero di giocatori</label>
                    <select class="form-control" name="players" id="giocatori">
                        <option disabled>3</option>
                        <option selected>4</option>
                        <option disabled>5</option>
                        <option disabled>6</option>
                    </select>
                </div>
                <button class="btn btn-primary" type="submit">Inizia</button>
            </form>
        </div>
    </div>
</div>

<% include ./partials/footer %>