<% include ./partials/header %>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">

<div class="container info-container pt-2 mt-2">
    <button type="button" id="resetPlayers" class="btn btn-warning">Reset players</button>
    <div class="avversari"></div>
    <p id="infoMazzo">Caricamento in corso... (Se non si carica, fai il logout e rientra)</p>
    <p id="infoMazzo2"></p>
    <div id="mazzo" class="mazzo text-center mb-2 row"></div>
    <p id="debug"></p>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
<script src="/js/distribuzione2.js"></script>

<% include ./partials/footer %>