.flex {
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: center;
  }

body {
    background-image: url("/imgs/wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 5rem;
}

.flex {
    display: flex;
}

.page-footer {
    background-color: #2196f3;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

.info-container {
    border: 1px solid #ddd;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    border-radius: 2px;
    background-color: white;
}

.container-carte {
    height: 320px;
}