.flex {
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: center;
  }

body {
    background-image: url("/imgs/wallpaper.jpg");
    background-size: cover;
    background-repeat: repeat;
    padding-bottom: 5rem;
}

.flex {
    display: flex;
}

.page-footer {
    background-color: #2196f3;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

.info-container {
    border: 1px solid #ddd;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    border-radius: 2px;
    background-color: white;
}

.container-carte {
    height: 320px;
}

.pop {
    animation: pop 5.0s infinite;
    -webkit-animation: pop 5.0s infinite;
}
@keyframes pop {
    from {
        transform:scale(0.95)
    }
    50% {
        transform:scale(1)
    }
    to {
        transform:scale(0.95)
    }
}
@-webkit-keyframes pop {
    from {
        -webkit-transform:scale(0.95)
    }
    50% {
        -webkit-transform:scale(1)
    }
    to {
        -webkit-transform:scale(0.95)
    }
}
.tilt {
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
}