.flex {
    /* display: flex; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

body {
    background-image: url("/imgs/wallpaper.jpg");
    background-size: 100vw;
    padding-bottom: 5rem;
}

footer {
    background-color: #2196f3;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-height: 70px;
}

@media screen and (max-width: 768px) {
    footer {
      display: none;
    }
  }

.info-container {
    border: 1px solid #ddd;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    border-radius: 2px;
    background-color: white;
}

.container-carte {
    height: 320px;
}

.pop {
    animation: pop 5.0s infinite;
    -webkit-animation: pop 5.0s infinite;
}
@keyframes pop {
    from {
        transform:scale(0.95)
    }
    50% {
        transform:scale(1)
    }
    to {
        transform:scale(0.95)
    }
}
@-webkit-keyframes pop {
    from {
        -webkit-transform:scale(0.95)
    }
    50% {
        -webkit-transform:scale(1)
    }
    to {
        -webkit-transform:scale(0.95)
    }
}
.tilt {
    -ms-transform: rotate(-6deg);
    -webkit-transform: rotate(-6deg);
    transform: rotate(-6deg);
}

@font-face {
    font-family: 'edo_sz';
    src: url('/fonts/edosz-webfont.woff2') format('woff2'),
         url('/fonts/edosz-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#splashText {
    font-family: "edo_sz";
    font-size: 20rem;
}

strong {
    font-weight: bold;
  }
  
  .button {
    background-color: #f2f2f2;
    background-image: linear-gradient(to bottom, #f2f2f2, #f2f2f2);
    border: 1px solid #bfbfbf;
    box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #d9d9d9, inset 0 0 0 1px #f2f2f2, 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #8c8c8c;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    padding: 9px 16px 9px;
    margin: 16px 0 0 16px;
    transition: all 20ms ease-out;
    vertical-align: top;
  }
  .button:hover, .button:focus {
    background: #f2f2f2;
    border-color: #8c8c8c;
    box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #d9d9d9, inset 0 0 0 1px #f2f2f2;
  }
  .button:active {
    background: #f2f2f2;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
  }
  .button .fa {
    color: #bfbfbf;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  }
  
  .button-blue {
    background-color: #42b0e3;
    background-image: linear-gradient(to bottom, #42b0e3, #2ba9e3);
    border: 1px solid #107db0;
    box-shadow: inset 0 1px 0 #7cd4fc, inset 0 -1px 0 #2696c9, inset 0 0 0 1px #59b7e3, 0 2px 4px rgba(0, 0, 0, 0.2);
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  }
  .button-blue:hover, .button-blue:focus {
    background: #2ba9e3;
    border-color: #004c6f;
    box-shadow: inset 0 1px 0 #7cd4fc, inset 0 -1px 0 #2696c9, inset 0 0 0 1px #59b7e3;
  }
  .button-blue:active {
    background: #2ba9e3;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
  }
  .button-blue .fa {
    color: #107db0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  }
  
  .button-green {
    background-color: #97cc76;
    background-image: linear-gradient(to bottom, #97cc76, #8bcc62);
    border: 1px solid #5f993a;
    box-shadow: inset 0 1px 0 #c6e6b3, inset 0 -1px 0 #79b356, inset 0 0 0 1px #a4cc8b, 0 2px 4px rgba(0, 0, 0, 0.2);
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  }
  .button-green:hover, .button-green:focus {
    background: #8bcc62;
    border-color: #326612;
    box-shadow: inset 0 1px 0 #c6e6b3, inset 0 -1px 0 #79b356, inset 0 0 0 1px #a4cc8b;
  }
  .button-green:active {
    background: #8bcc62;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
  }
  .button-green .fa {
    color: #5f993a;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  }
  
  .button-purple {
    background-color: #847bba;
    background-image: linear-gradient(to bottom, #847bba, #7568ba);
    border: 1px solid #493e87;
    box-shadow: inset 0 1px 0 #bab6d4, inset 0 -1px 0 #655aa1, inset 0 0 0 1px #948dba, 0 2px 4px rgba(0, 0, 0, 0.2);
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  }
  .button-purple:hover, .button-purple:focus {
    background: #7568ba;
    border-color: #1f1654;
    box-shadow: inset 0 1px 0 #bab6d4, inset 0 -1px 0 #655aa1, inset 0 0 0 1px #948dba;
  }
  .button-purple:active {
    background: #7568ba;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
  }
  .button-purple .fa {
    color: #493e87;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  }
  
  .button-orange {
    background-color: #f58a38;
    background-image: linear-gradient(to bottom, #f58a38, #f57c20);
    border: 1px solid #c25706;
    box-shadow: inset 0 1px 0 #ffb984, inset 0 -1px 0 #db6f1d, inset 0 0 0 1px #f59851, 0 2px 4px rgba(0, 0, 0, 0.2);
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  }
  .button-orange:hover, .button-orange:focus {
    background: #f57c20;
    border-color: #773300;
    box-shadow: inset 0 1px 0 #ffb984, inset 0 -1px 0 #db6f1d, inset 0 0 0 1px #f59851;
  }
  .button-orange:active {
    background: #f57c20;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
  }
  .button-orange .fa {
    color: #c25706;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  }
  
  .button-red {
    background-color: #ed6d64;
    background-image: linear-gradient(to bottom, #ed6d64, #ed574c);
    border: 1px solid #ba3329;
    box-shadow: inset 0 1px 0 #ffb0aa, inset 0 -1px 0 #d44d44, inset 0 0 0 1px #ed837b, 0 2px 4px rgba(0, 0, 0, 0.2);
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  }
  .button-red:hover, .button-red:focus {
    background: #ed574c;
    border-color: #870c03;
    box-shadow: inset 0 1px 0 #ffb0aa, inset 0 -1px 0 #d44d44, inset 0 0 0 1px #ed837b;
  }
  .button-red:active {
    background: #ed574c;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
  }
  .button-red .fa {
    color: #ba3329;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  }
  
  .button-yellow {
    background-color: #fce374;
    background-image: linear-gradient(to bottom, #fce374, #fcdf5b);
    border: 1px solid #c9ae34;
    box-shadow: inset 0 1px 0 #fff6ce, inset 0 -1px 0 #e3c852, inset 0 0 0 1px #fce88d, 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #967d09;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  }
  .button-yellow:hover, .button-yellow:focus {
    background: #fcdf5b;
    border-color: #967d09;
    box-shadow: inset 0 1px 0 #fff6ce, inset 0 -1px 0 #e3c852, inset 0 0 0 1px #fce88d;
  }
  .button-yellow:active {
    background: #fcdf5b;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
  }
  .button-yellow .fa {
    color: #c9ae34;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  }
  
  .button .fa {
    float: left;
    font-size: 14px;
    line-height: 20px;
    margin: -1px 8px 0 -4px;
    vertical-align: top;
  }

  #mazzo {
      margin: 0;
      padding: 0;
  }

  #mazzo ul {
    list-style-type: none;
  }
  
  #mazzo li {
    display: inline-block;
    margin: 0;
  }
  
  #mazzo input[type="checkbox"] {
    display: none;
  }
  
  #mazzo label {
    border: 1px solid #fff;
    /* padding: 10px; */
    display: block;
    position: relative;
    /* margin: 10px; */
    cursor: pointer;
  }
  
  #mazzo label:before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid grey;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
  }
  
  #mazzo label img {
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
  }
  
  #mazzo :checked + label {
    border-color: #ddd;
  }
  
  #mazzo :checked + label:before {
    content: "✓";
    background-color: grey;
    transform: scale(1);
  }
  
  #mazzo :checked + label img {
    transform: scale(0.9);
    /* box-shadow: 0 0 5px #333; */
    z-index: -1;
  }

.bluff-radios {
	/* display: flex-wrap;
	margin-bottom: 36px;
    overflow: hidden; */
	margin: 0 0 1.5rem;
	box-sizing: border-box;
	font-size: 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: stretch;
}

.bluff-radios input {
	/* position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
    overflow: hidden; */
	width: 0;
	height: 0;
	position: absolute;
	left: -9999px;
}

.bluff-radios input + label {
    margin: 0;
    padding: 0.75rem 2rem;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    border: solid 1px #ddd;
    background-color: #fff;
    font-size: 1rem;
    line-height: 140%;
    font-weight: 600;
    text-align: center;
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
    transition: border-color 0.15s ease-out, color 0.25s ease-out, background-color 0.15s ease-out, box-shadow 0.15s ease-out;
   /* ADD THESE PROPERTIES TO SWITCH FROM AUTO WIDTH TO FULL WIDTH */
   /*flex: 0 0 50%;
    display: flex;
    justify-content: center;
    align-items: center;
   */
   /* ----- */
}

.bluff-radios input + label:first-of-type {
    border-radius: 6px 0 0 6px;
    border-right: none;
}
.bluff-radios input + label:last-of-type {
    border-radius: 0 6px 6px 0;
    border-left: none;
}
.bluff-radios input:hover + label {
    border-color: #213140;
}
.bluff-radios input:checked + label {
    background-color: #ce0cf5;
    color: #fff;
    box-shadow: 0 0 10px rgba(102, 179, 251, .5);
    border-color: #ce0cf5;
    z-index: 1;
}
.bluff-radios input:focus + label {
    outline: none;
}
@media (max-width: 800px) {
    .bluff-radios input + label {
        padding: 0.75rem 0.25rem;
        flex: 0 0 50%;
        display: flex;
        justify-content: center;
        align-items: center;
   }
}

/* .bluff-radios label {
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}

.bluff-radios label:hover {
	cursor: pointer;
}

.bluff-radios input:checked + label {
	background-color: #d586dc;
	box-shadow: none;
} */

.bluff-radios label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.bluff-radios label:last-of-type {
	border-radius: 0 4px 4px 0;
}

.turnoPlayer {
    background-color: rgb(227, 16, 235);
    color: white;
    font-weight: 700;
    border: 2px solid rgb(214, 16, 214);
    text-decoration: underline;
    padding: 1px;
	border-radius: 0.5rem;
	display: inline-block;
	cursor: pointer;
	padding: 0.5rem 1rem;
    left: 0;
    text-align: center;
    transition: all 0.2s;
}

.turnoPlayer:hover {
    color: rgb(227, 16, 235);
    background-color: white;
    cursor: default;
}

.turnoText{
    background-color: #FFA500;
    color: white;
    font-weight: 600;
    border: 2px solid #FFA500;
    text-decoration: underline;
    padding: 3px;
	border-radius: 0.5rem;
	display: inline-block;
	cursor: default;
	padding: 0.5rem 1rem;
    left: 0;
    text-align: center;
    transition: all 0.2s;
}

.tasto-verde {
	border-radius:2.5rem;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	padding: 0.5rem 1rem;
	text-decoration: none;
    left: 0;
    text-align: center;
	background-color: #32ce4a;
	border:1px solid #2fc446;
	text-shadow:0px 1px 0px #27662c;
    transition: all 0.2s;
}
.tasto-verde:active:enabled {
	position:relative;
	top:1px;
}
.tasto-verde:disabled {
	background-color: #87d48e;
	border: 1px solid #67c06e;
    text-decoration: line-through;
    cursor: not-allowed;
}
.tasto-verde:hover:enabled {
	background-color: #2dbd42;
}

.tasto-giallo {
	border-radius:2.5rem;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	padding: 0.5rem 1rem;
	text-decoration: none;
    left: 0;
    text-align: center;
	background-color: #dad74d;
	border:1px solid #dbd82d;
	text-shadow:0px 1px 0px #404119;
    transition: all 0.2s;
}
.tasto-giallo:active:enabled {
	position:relative;
	top:1px;
}
.tasto-giallo:disabled {
	background-color: #c8d487;
	border: 1px solid #bfc067;
    text-decoration: line-through;
    cursor: not-allowed;
}
.tasto-giallo:hover:enabled {
	border:1px solid #c7c40f;
	background-color: #cfcc10;
}

.tasto-blu {
	border-radius:2.5rem;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	padding: 0.5rem 1rem;
	text-decoration: none;
    left: 0;
    text-align: center;
	background-color: #2196f3;
	border:1px solid #357ed1;
	text-shadow:0px 1px 0px #273666;
    transition: all 0.2s;
}
.tasto-blu:active:enabled {
	position:relative;
	top:1px;
}
.tasto-blu:disabled {
	background-color: #88bbda;
	border: 1px solid #77a6d1;
    text-decoration: line-through;
    cursor: not-allowed;
}
.tasto-blu:hover:enabled {
	background-color: #3378c7;
}

.tasto-grigio {
	border-radius:2.5rem;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	padding: 0.5rem 1rem;
	text-decoration: none;
    left: 0;
    text-align: center;
	background-color: #535353;
	border:1px solid #494949;
	text-shadow:0px 1px 0px #3a3a3a;
    transition: all 0.2s;
}
.tasto-grigio:active:enabled {
	position:relative;
	top:1px;
}
.tasto-grigio:disabled {
	background-color: #b6b6b6;
	border: 1px solid #acacac;
    text-decoration: line-through;
    cursor: not-allowed;
}
.tasto-grigio:hover:enabled {
	background-color: #2e2e2e;
}

.tasto-rosa {
    margin-left: 0.5rem;
	border-radius:2.5rem;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	padding: 0.5rem 1rem;
	text-decoration: none;
    left: 0;
    text-align: center;
	background-color: #ce0cf5;
	border:1px solid #aa10cc;
	text-shadow:0px 1px 0px #66285f;
    transition: all 0.2s;
}
.tasto-rosa:active:enabled {
	position:relative;
	top:1px;
}
.tasto-rosa:disabled {
	background-color: #ad82b6;
	border: 1px solid #af7abb;
    text-decoration: line-through;
    cursor: not-allowed;
}
.tasto-rosa:hover:enabled {
	background-color: #ae10d1;
}

.tasto-arancione {
    margin-left: 0.5rem;
	border-radius:2.5rem;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	padding: 0.5rem 1rem;
	text-decoration: none;
    left: 0;
    text-align: center;
	background-color: #f5b608;
	border:1px solid #d8a20f;
	text-shadow:0px 1px 0px #664d28;
    transition: all 0.2s;
}
.tasto-arancione:active:enabled {
	position:relative;
	top:1px;
}
.tasto-arancione:disabled {
	background-color: #af946a;
	border: 1px solid #c7a279;
    text-decoration: line-through;
    cursor: not-allowed;
}
.tasto-arancione:hover:enabled {
	background-color: #d19410;
}

div.play-btns {
    padding: 0;
    margin: 0;
}

#btn-dubito {
    margin-left: auto;
    margin-right: 5px;
}

#avvenimenti {
    text-align: center;
    font-size: 1.2rem;
}

#vittoria-text {
    font-size: 3rem;
    text-align: center;
    line-height: 1;
    margin: 0;
    padding-bottom: 3vh;
    top: 50%;
    left: 50%;
    text-shadow: #0c1018;
    left: 0;
    width: 100%;
    top: 0;
    z-index: 5;
}